---
import {getCollection, render} from "astro:content";
import type {CollectionEntry} from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import {getDynamicTitle} from "../../../components/utils/dynamicTitle";

export async function getStaticPaths() {
    const allContent = await getCollection("content");

    return allContent.map((content) => {

        return {
            params: {slug: content.id},
            //
            props: {content},
        };
    });
}

const {content} = Astro.props as { content: CollectionEntry<"content"> };

const renderResult = await render(content)
const Rendered = renderResult.Content
const frontmatter = {
    // @ts-ignore
    ...content.rendered?.metadata?.frontmatter,
    title: getDynamicTitle(content.id)
}
---

<main>
    <BaseLayout frontmatter={{frontmatter}}>
        <Rendered/>
    </BaseLayout>
</main>

<style>

</style>