---
import {getCollection, render} from "astro:content";
import type {CollectionEntry} from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import {getDynamicTitle} from "../../components/utils/dynamicTitle";

export async function getStaticPaths() {
    const allContent = await getCollection("content");

    const paths = allContent.map((content) => {
        const path = content.id

        return {
            params: {path: path.toLowerCase().replace(' ', '-')},
            //
            props: {content},
        };
    });

    // console.log(paths)

    return paths
}

const {content} = Astro.props as { content: CollectionEntry<"content"> };

const renderResult = await render(content)
const Rendered = renderResult.Content
const frontmatter = {
    // @ts-ignore
    ...content.rendered?.metadata?.frontmatter,
    title: getDynamicTitle(content.id)
}
---

<main>
    <BaseLayout frontmatter={{frontmatter}}>
        <Rendered/>
    </BaseLayout>
</main>