---
import {getCollection, render} from "astro:content";
import type {CollectionEntry} from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import {getDynamicTitle} from "../../components/utils/dynamicTitle";
import slugify from "voca/slugify";
import { getSlugMap } from "../../../plugins/util/remarkOfWikiLinks-utils";

export async function getStaticPaths() {
    const allContent = await getCollection("content");

    return allContent.map((content) => {
        const path = content.id

        const slugged = path.split('/').map(slugify).join('/')
        //console.log(`${path} -> ${slugged}`)

        return {
            params: {path: slugged},
            //
            props: {content},
        };
    })
}
const {content} = Astro.props as { content: CollectionEntry<"content"> };
const slugMap = getSlugMap();
const slug = content.id.split('/').slice(-1)[0]

const renderResult = await render(content)
const Rendered = renderResult.Content
const frontmatter = {
    // @ts-ignore
    ...content.rendered?.metadata?.frontmatter,
    title: slugMap[slug].name,
}
---

<main>
    <BaseLayout frontmatter={{frontmatter}}>
        <Rendered/>
    </BaseLayout>
</main>
